<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="administration.css">
    <link rel="stylesheet" href="search_results.css">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="admin_app.js"></script>

    <title>Googol</title>
</head>
<body onload="connect()" onunload="disconnect()">

<script th:inline="javascript">
    var popup = [[${popup}]];
    if (popup) {
        alert(popup);
    }
</script>

<div class="search_container">

    <div class="container">

        <h1 class="title">Googol</h1>
        <h1 class="admin-subtitle">Administração</h1>

    </div>

</div>


<input type="checkbox" name="" id="openmenu">

<div class="menu">

    <label for="openmenu">
        <div id="box">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </div>
    </label>

    <a href="/"><h1>Googol</h1></a>

    <div class="items">

        <a href="/">Pesquisar</a>
        <a href="/index_url">Indexar URL</a>
        <a href="/search_url">Pesquisa URL</a>
        <a href="/top_user">Top User</a>
        <a href="/administration">Administração</a>
        <a href="/login">Login</a>
        <a href="/registo">Registo</a>
        <a href="/logout">Logout</a>

    </div>

</div>


<div class="master-components">

    <div class="components" id="barrels">
        <h1>Barrels</h1>
    </div>
    <div class="components" id="downloaders">
        <h1>Downloaders</h1>
    </div>
    <div class="components" id="search-results">
        <h1>Pesquisas mais Frequentes</h1>
    </div>

</div>


</body>
</html>