<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="index_url_styles.css">
    <title>Googol</title>
</head>
<body>

<script th:inline="javascript">
    var popup = [[${popup}]];
    if (popup) {
        alert(popup);
    }
</script>

<div class="main_container">

    <h1 class="title">Googol</h1>
    <h1 class="subtitle">Pesquisa URL</h1>

    <form action="/search_url" method="get">

        <span class="text-label">Escreva um URL para pesquisar</span>
        <input type="text" name="url" id="url_input">
        <input type="submit" value="Indexar">

    </form>

</div>


<input type="checkbox" name="" id="openmenu">

<div class="menu">

    <label for="openmenu">
        <div id="box">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </div>
    </label>

    <a href="/"><h1>Googol</h1></a>

    <div class="items">

        <a href="/">Pesquisar</a>
        <a href="/index_url">Indexar URL</a>
        <a href="/search_url">Pesquisa URL</a>
        <a href="/login">Login</a>
        <a href="/registo">Registo</a>
        <a href="/logout">Logout</a>

    </div>

</div>

</body>
</html>