.search_container h1{
    margin-bottom: 0;
}

.search_container .admin-subtitle{
    background: linear-gradient(to right, #07b8fe, #6878ff);
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    margin-top: 0;

    background: linear-gradient(to right, #07b8fe, #6878ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.master-components{
    display: flex;
    justify-content: center;
    text-align: center;
}

.components{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    margin: 10px;
    margin-top: 10%;

    border-color: #07b8fe;
    border-style: outset;
}

.components p {
    font-family: "Roboto";
    font-weight: lighter;
    padding: 0px 10px;
}


.components h1{
    padding: 10px;
    font-family: "Roboto";
    background: linear-gradient(to right, #07b8fe, #6878ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}