body{
    height: 100%;
    margin: 0;
}

.main_container{

    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    margin: 0 auto;
}

.title{
    font-size: 100px;
    font-family: "Roboto";

    background: linear-gradient(to right, #07b8fe, #6878ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.subtitle{
    font-size: 40px;
    font-family: "Roboto";

    background: linear-gradient(to right, #07b8fe, #6878ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    margin-top: -18%;
}


.main_container #query_input{
    border-style: solid;
    border-width: 2px;
    width: 300px;
    height: 30px;
}

.main_container input[type=submit]{
    background: linear-gradient(to right, #07b8fe, #6878ff);
    border: none;
    color: white;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

.main_container input[type=submit]:hover{
    color: #a5a5a5;
    transition: 0.3s;
}






.menu{

    background: linear-gradient(to right, #07b8fe, #6878ff);
    width: 200px;
    height: 100%;
    position: fixed;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 2;

}


.menu h1{
    color:#FFFFFF;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}


.menu .items{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.menu a{
    font-size: 20px;
    font-family: "Roboto";
    margin-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;
    padding-top: 30px;
    width: 180px;
}

.menu a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    letter-spacing: 2px;
}


#openmenu{
    -webkit-appearance: none;
    appearance: none;
    visibility: hidden;
    display: none;
}

.bars{
    position: relative;
    padding: 1px 8px;
    margin-top: 6px;
    cursor: pointer;
    background: #FFFFFF;
}

#box{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    right: -80px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: linear-gradient(to right, #07b8fe, #6878ff);
    cursor: pointer;
    border-radius: 5px;
}

#openmenu:checked ~ .menu{

    transform: translateX(0);
    transition: 0.3s ease;

}