<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../../static/global.css">
    <link rel="stylesheet" href="../../static/index_url_styles.css">
    <title>Googol</title>
</head>
<body>

    <div class="main_container">

                <h1 class="title">Googol</h1>
                <h1 class="subtitle">Indexar URL</h1>

                <form action="GET">

                    <span class="text-label">Escreva um URL para indexar</span>
                    <input type="text" name="url_input" id="url_input">
                    <input type="button" value="Indexar">

                </form>

    </div>


    <input type="checkbox" name="" id="openmenu">

    <div class="menu">

        <label for="openmenu">
            <div id="box">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </div>
        </label>

        <a href="#"><h1>Googol</h1></a>

        <div class="items">

            <a href="#">Pesquisar</a>
            <a href="#">Indexar URL</a>
            <a href="#">Login</a>

        </div>

    </div>
    
</body>
</html>